

<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topnavbar></app-topnavbar>
      <div class="container-fluid"  *ngIf="Patient" >
        <!-- Begin Main Content -->

        <body class="row" >
          <div  *ngFor="let patient of Patient"  >
         <div class="col-md-11"  >
          <mat-card class="example-card"  >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</mat-card-title>
              <mat-card-subtitle>Doctor Assigned : {{patient.doctorName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image style="height:300px" src="{{patient.profile_image}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <table class="table table-hover table-inverse table-responsive">
             <tr>
               <td>Admit on</td>
               <td> {{patient.addmission_date | date }} </td>
               <td>Age</td>
               <td> {{patient.age}} </td>
             </tr>
             <tr>
               <td><button mat-raised-button (click)="getThisPatientData(patient._id)" >Basic Details</button></td>
               <td><button (click)="openComplaintDialog(patient._id)" mat-raised-button color="accent">Open Complaint</button></td>
               
             </tr>
             <tr>
              <td><button mat-raised-button color="primary" [matMenuTriggerFor]="history">History</button></td>
              <td><button mat-raised-button color="primary" (click)="EditPsychatric(patient._id)">Add Psychatric </button></td>
             </tr>
            </table>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button (click)="getThisPatientData(patient._id)" mat-raised-button color="primary">Complaits</button> -->
              
              
              
              
              

        <mat-menu #history="matMenu">
          <button mat-raised-button  color="warn" (click)="openHistory(presentHistory,patient._id)" >Open Present History</button>
          <button mat-raised-button color="accent" (click)="openHistory(pastHistory,patient._id)" >Open Past History</button>
          <button mat-raised-button color="primary" (click)="openHistory(historyOfModeOfItake,patient._id)" >History Of Mode Of Intake</button>
          <button mat-raised-button color="warn" (click)="openHistory(treatementHistory,patient._id)" >Treatement History</button>
          <button mat-raised-button color="accent" (click)="openHistory(familyHistory,patient._id)" >Family History</button>
          <button mat-raised-button color="primary" (click)="openHistory(personalHistory,patient._id)" >Personal History</button>
          <button mat-raised-button  color="warn" (click)="openHistory(substanceHistory,patient._id)" >Substance History</button>
          <button mat-raised-button color="accent" (click)="openHistory(legalHistory,patient._id)" >Legal History</button>
          <button mat-raised-button color="primary" (click)="openModal(mytemplate)" >Testing Button</button>
        </mat-menu>
            </mat-card-actions>
          </mat-card>
         </div>
        
          </div>
        
        </body>

        <!-- End of Main Content -->
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<ng-template #mytemplate>
  <h1>It works</h1>
</ng-template>

<ng-template #presentHistory>
  <h1>Present History</h1>
  <table class="table table-hover table-inverse" *ngFor="let item of PresentHistory;let i=index">
    <thead class="thead-inverse" *ngIf="item._id!=bgloid;else presentHistoryEdit" >
      <tr>
        <th>SN</th>
        <th>History</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody *ngIf="item._id!=bgloid" >
        <tr >
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.history}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="Edit" class="btn btn-danger"  (click)="editPresentHistory(item._id)" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>

<ng-template #presentHistoryEdit>
  <div class="form-group" [formGroup]="presentEditHistoryForm"  >
    <label for="">Present History </label>
    <textarea class="form-control" formControlName="history"  name="" id="" rows="3"></textarea>
    <input type="button" value="Save" class="btn btn-success" (click)="presentEditHistoryFormSubmit(presentEditHistoryForm.value)"  > 
    <input type="button" value="Cancle" class="btn btn-danger" (click)="CancleForm()" >
  </div>
</ng-template>


<ng-template #pastHistory>
  <h1>Past History</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>History</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of PastHistory;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.history}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>

<ng-template #historyOfModeOfItake>
  <h1>History of Mode of intake</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>Medical History</th>
        <th>Psychatric History</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of HistoryOfModeOfIntake;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.MedicalHistory}}
          </td>
          <td>
            {{item.PsychatricHistory}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>

<ng-template #treatementHistory>
  <h1>History of Mode of intake</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>PastTreatementHistory</th>
        <th>PresentTreatementHistory</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of TreatementHistory;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.PastTreatementHistory}}
          </td>
          <td>
            {{item.PresentTreatementHistory}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>
<ng-template #familyHistory>
  <h1>History of Mode of intake</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>Family History of Mental illness or Drug Addiction</th>
        <th>Family Environment History</th>
        <th>Family Attitude History</th>
        <th>Living Condition History</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of FamilyHistory;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.mentalHistory}}
          </td>
          <td>
            {{item.environHistory}}
          </td>
          <td>
            {{item.attitudeHistory}}
          </td>
          <td>
            {{item.livingHistory}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>

<ng-template #personalHistory>
  <h1>History of Mode of intake</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>BirthHistory</th>
        <th>DevelopmentHistory</th>
        <th>EducationHistory</th>
        <th>ImmunizationHistory</th>
        <th>MarritalandSexualHistory</th>
        <th>MenstrualandobstetricHistory</th>
        <th>OccupationHistory</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of PersonalHistory;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.BirthHistory}}
          </td>
          <td>
            {{item.DevelopmentHistory}}
          </td>
          <td>
            {{item.EducationHistory}}
          </td>
          <td>
            {{item.ImmunizationHistory}}
          </td>
          <td>
            {{item.MarritalandSexualHistory}}
          </td>
          <td>
            {{item.MenstrualandobstetricHistory}}
          </td>
          <td>
            {{item.OccupationHistory}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>

<ng-template #substanceHistory>
  <h1>History of Mode of intake</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>History of choise of Substance</th>
        <th>History of Total Duration of Use  </th>
        <th>History of Duration of Regular Use</th>
        <th>History of Daily Intake (Amount/No.)</th>
        <th>History of last Intake of Drug (Day/time and Quantity of the drug)</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of SubstanceHistory;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.HistoryOfChoiseOfSubstance}}
          </td>
          <td>
            {{item.HistoryOfTotalDurationOfUse}}
          </td>
          <td>
            {{item.HistoryOfDurationOfRegularUse}}
          </td>
          <td>
            {{item.HistoryOfDailyIntake}}
          </td>
          <td>
            {{item.HistoryOfLastIntakeOfDrug}}
          </td>
          
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>

<ng-template #legalHistory>
  <h1>History of Mode of intake</h1>
  <table class="table table-hover table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>SN</th>
        <th>H/o Homicide/Suicide Attempts If yes, specify the number of attempt and method.</th>
        <th>Pre-morbid personality</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of LegalHistory;let i=index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{item.HomicideAttempt}}
          </td>
          <td>
            {{item.preMorbidpersonality}}
          </td>
          <td>
            {{item.creationDate | date}}
          </td>
          <td>
            <input type="button" value="click" class="btn btn-danger" >
          </td>
        </tr>
        
      </tbody>
  </table>
</ng-template>