<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topnavbar></app-topnavbar>
      


 <div class="container register">
        <div class="row">
            <div class="col-md-12 register-right">
              <form [formGroup]="familyDataForm" (ngSubmit)="onSubmit(familyDataForm.value)">
                <h3 class="register-heading"> Chief Complaint</h3>
                <div class="row register-form">
                    
                        <div class="col-md-7">
                            <div class="form-group">
                              <label for="">Complaint</label>
                                <input type="text" formControlName="Complaint" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.Complaint" placeholder="Complaint decription*">
                                <div *ngIf="formErrors.Complaint" class="invalid-feedback">{{formErrors.Complaint}}</div>
                            </div>
                            
                           
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Duration</label>
                                <select class="form-control" formControlName="ComplaintDuration" class="form-control" (blur)="logValidationMessages()" [class.is-invalid]="formErrors.ComplaintDuration">
                                    <option disabled value="">Select Your Option</option>
                                    <option value="Last 2 days">Last 2 days</option>
                                    <option value=" Last 2 weeks"> Last 2 weeks</option>
                                    <option value="Less than 1 month">Less than 1 month</option>
                                    <option value="1 to 3 months">1 to 3 months</option>
                                    <option value="3 to 6 months">3 to 6 months</option>
                                    <option value="More than 6 months">More than 6 months</option>
                                    <option value="More than 1 year">More  than 1 year</option>
                                    <option value="More than 5 years">More than 5 years</option>
                                </select>
                                  <div *ngIf="formErrors.ComplaintDuration" class="invalid-feedback">{{formErrors.ComplaintDuration}}</div>
                              </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Action</label>
                                  <input type="submit"  class="form-control btn btn-success" 
                                   value="add" >
                                 
                        </div>
                        </div>
                                  
                      <div class="offset-md-5 col-md-4"><input type="button" (click)="gotoIllness()" class="btn btn-danger" value="Next"/></div>
                </div>
              </form>
              <pre>{{familyDataForm.value |json}}</pre>
            </div>
        </div>
      
      </div>







    </div>
    <app-footer></app-footer>
  </div>
</div>