<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topnavbar></app-topnavbar>
      


 <div class="container register">
        <div class="row">
            <div class="col-md-12 register-right">
              <form [formGroup]="familyDataForm" (ngSubmit)="onSubmit(familyDataForm.value)">
                <h3 class="register-heading">History of present Illness</h3>
                <div class="row register-form">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for=""></label>
                              <textarea type="text" formControlName="History" class="form-control" (blur)="logValidationMessages()"
                                [class.is-invalid]="formErrors.History" placeholder="History Of Present Illness*"></textarea>
                              <div *ngIf="formErrors.History" class="invalid-feedback">{{formErrors.History}}</div>
                          </div>
                        </div>
                        <h3 class="register-heading">History of Past Illness</h3> 
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="">Psychiatric History (Duration, Number of Episode, Similarity with Present Illness)</label>
                            <textarea type="text" formControlName="PsychiatricHistory" class="form-control" (blur)="logValidationMessages()"
                              [class.is-invalid]="formErrors.PsychiatricHistory" placeholder="History Of Present Illness*"></textarea>
                            <div *ngIf="formErrors.PsychiatricHistory" class="invalid-feedback">{{formErrors.PsychiatricHistory}}</div>
                        </div>
                      </div>
                        <h3 class="register-heading">HistoryOfModeOfIntake</h3> 
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="">Psychiatric History (Duration, Number of Episode, Similarity with Present Illness)</label>
                            <textarea type="text" formControlName="HistoryOfModeOfIntake" class="form-control" (blur)="logValidationMessages()"
                              [class.is-invalid]="formErrors.HistoryOfModeOfIntake" placeholder="HistoryOfModeOfIntake*"></textarea>
                            <div *ngIf="formErrors.HistoryOfModeOfIntake" class="invalid-feedback">{{formErrors.HistoryOfModeOfIntake}}</div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="">Medical/Surgical History</label>
                          <textarea type="text" formControlName="MedicalSurgicalHistory" class="form-control" (blur)="logValidationMessages()"
                            [class.is-invalid]="formErrors.MedicalSurgicalHistory" placeholder="History Of Present Illness*"></textarea>
                          <div *ngIf="formErrors.MedicalSurgicalHistory" class="invalid-feedback">{{formErrors.MedicalSurgicalHistory}}</div>
                      </div>
                    </div>

                    <h3 class="register-heading">Treatement History</h3> 
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="">Present Treatement History</label>
                        <textarea type="text" formControlName="PresentTreateHistory" class="form-control" (blur)="logValidationMessages()"
                          [class.is-invalid]="formErrors.PresentTreateHistory" placeholder="History Of Present Illness*"></textarea>
                        <div *ngIf="formErrors.PresentTreateHistory" class="invalid-feedback">{{formErrors.PresentTreateHistory}}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Past Treatement History</label>
                      <textarea type="text" formControlName="PastTreateHistory" class="form-control" (blur)="logValidationMessages()"
                        [class.is-invalid]="formErrors.PastTreateHistory" placeholder="History Of Present Illness*"></textarea>
                      <div *ngIf="formErrors.PastTreateHistory" class="invalid-feedback">{{formErrors.PastTreateHistory}}</div>
                  </div>
                </div>

                <h3 class="register-heading">Family History</h3> 
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Family History of Mental illness or Drug Addiction</label>
                    <textarea type="text" formControlName="FamilyMentalHistory" class="form-control" (blur)="logValidationMessages()"
                      [class.is-invalid]="formErrors.FamilyMentalHistory" placeholder="History Of Present Illness*"></textarea>
                    <div *ngIf="formErrors.FamilyMentalHistory" class="invalid-feedback">{{formErrors.FamilyMentalHistory}}</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Family Environment History</label>
                  <textarea type="text" formControlName="FamilyEnvironmentHistory" class="form-control" (blur)="logValidationMessages()"
                    [class.is-invalid]="formErrors.FamilyEnvironmentHistory" placeholder="History Of Present Illness*"></textarea>
                  <div *ngIf="formErrors.FamilyEnvironmentHistory" class="invalid-feedback">{{formErrors.FamilyEnvironmentHistory}}</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Family Attitute History </label>
                <textarea type="text" formControlName="FamilyAttituteHistory" class="form-control" (blur)="logValidationMessages()"
                  [class.is-invalid]="formErrors.FamilyAttituteHistory" placeholder="History Of Present Illness*"></textarea>
                <div *ngIf="formErrors.FamilyAttituteHistory" class="invalid-feedback">{{formErrors.FamilyAttituteHistory}}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Living Condition History</label>
              <textarea type="text" formControlName="LivingConditionHistory" class="form-control" (blur)="logValidationMessages()"
                [class.is-invalid]="formErrors.LivingConditionHistory" placeholder="History Of Present Illness*"></textarea>
              <div *ngIf="formErrors.LivingConditionHistory" class="invalid-feedback">{{formErrors.LivingConditionHistory}}</div>
          </div>
        </div>

        <h3 class="register-heading">Personal History</h3> 
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Birth History</label>
            <textarea type="text" formControlName="BirthHistory" class="form-control" (blur)="logValidationMessages()"
              [class.is-invalid]="formErrors.BirthHistory" placeholder="History Of Present Illness*"></textarea>
            <div *ngIf="formErrors.BirthHistory" class="invalid-feedback">{{formErrors.BirthHistory}}</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Immunization History</label>
          <textarea type="text" formControlName="ImmunizationHistory" class="form-control" (blur)="logValidationMessages()"
            [class.is-invalid]="formErrors.ImmunizationHistory" placeholder="History Of Present Illness*"></textarea>
          <div *ngIf="formErrors.ImmunizationHistory" class="invalid-feedback">{{formErrors.ImmunizationHistory}}</div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Development History </label>
        <textarea type="text" formControlName="DevelopmentHistory" class="form-control" (blur)="logValidationMessages()"
          [class.is-invalid]="formErrors.DevelopmentHistory" placeholder="History Of Present Illness*"></textarea>
        <div *ngIf="formErrors.DevelopmentHistory" class="invalid-feedback">{{formErrors.DevelopmentHistory}}</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="">Education History</label>
      <textarea type="text" formControlName="EducationHistory" class="form-control" (blur)="logValidationMessages()"
        [class.is-invalid]="formErrors.EducationHistory" placeholder="History Of Present Illness*"></textarea>
      <div *ngIf="formErrors.EducationHistory" class="invalid-feedback">{{formErrors.EducationHistory}}</div>
  </div>
</div>  <div class="col-md-12">
  <div class="form-group">
    <label for="">Occupation History</label>
    <textarea type="text" formControlName="OccupationHistory" class="form-control" (blur)="logValidationMessages()"
      [class.is-invalid]="formErrors.OccupationHistory" placeholder="History Of Present Illness*"></textarea>
    <div *ngIf="formErrors.OccupationHistory" class="invalid-feedback">{{formErrors.OccupationHistory}}</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
  <label for="">Marrital and Sexual History </label>
  <textarea type="text" formControlName="MarritalSexualHistory" class="form-control" (blur)="logValidationMessages()"
    [class.is-invalid]="formErrors.MarritalSexualHistory" placeholder="History Of Present Illness*"></textarea>
  <div *ngIf="formErrors.MarritalSexualHistory" class="invalid-feedback">{{formErrors.MarritalSexualHistory}}</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label for="">Menstrual and obstetric History(Females) </label>
<textarea type="text" formControlName="MenstrualObstetricHistory" class="form-control" (blur)="logValidationMessages()"
  [class.is-invalid]="formErrors.MenstrualObstetricHistory" placeholder="History Of Present Illness*"></textarea>
<div *ngIf="formErrors.MenstrualObstetricHistory" class="invalid-feedback">{{formErrors.MenstrualObstetricHistory}}</div>
</div>
</div>

<h3 class="register-heading">Substance History</h3> 
<div class="col-md-12">
  <div class="form-group">
    <label for="">History of choise of Substance</label>
    <textarea type="text" formControlName="HistoryOfChoise" class="form-control" (blur)="logValidationMessages()"
      [class.is-invalid]="formErrors.HistoryOfChoise" placeholder="History Of Present Illness*"></textarea>
    <div *ngIf="formErrors.HistoryOfChoise" class="invalid-feedback">{{formErrors.HistoryOfChoise}}</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
  <label for="">History of Total Duration of Use</label>
  <textarea type="text" formControlName="HistoryOfTotalDurationOfUse" class="form-control" (blur)="logValidationMessages()"
    [class.is-invalid]="formErrors.HistoryOfTotalDurationOfUse" placeholder="History Of Present Illness*"></textarea>
  <div *ngIf="formErrors.HistoryOfTotalDurationOfUse" class="invalid-feedback">{{formErrors.HistoryOfTotalDurationOfUse}}</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label for="">History of Duration of Regular Use </label>
<textarea type="text" formControlName="HistoryOfDurationOfRegularlUse" class="form-control" (blur)="logValidationMessages()"
  [class.is-invalid]="formErrors.HistoryOfDurationOfRegularlUse" placeholder="History Of Present Illness*"></textarea>
<div *ngIf="formErrors.HistoryOfDurationOfRegularlUse" class="invalid-feedback">{{formErrors.HistoryOfDurationOfRegularlUse}}</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label for="">History of Daily Intake (Amount/No.)</label>
<textarea type="text" formControlName="HistoryOfDailyIntake" class="form-control" (blur)="logValidationMessages()"
[class.is-invalid]="formErrors.HistoryOfDailyIntake" placeholder="History Of Present Illness*"></textarea>
<div *ngIf="formErrors.HistoryOfDailyIntake" class="invalid-feedback">{{formErrors.HistoryOfDailyIntake}}</div>
</div>
</div>  
<div class="col-md-12">
<div class="form-group">
<label for="">History of last Intake of Drug (Day/time and Quantity of the drug)</label>
<textarea type="text" formControlName="HistoryofLastIntakeOfDrug" class="form-control" (blur)="logValidationMessages()"
[class.is-invalid]="formErrors.HistoryofLastIntakeOfDrug" placeholder="History Of Present Illness*"></textarea>
<div *ngIf="formErrors.HistoryofLastIntakeOfDrug" class="invalid-feedback">{{formErrors.HistoryofLastIntakeOfDrug}}</div>
</div>
</div>

<h3 class="register-heading">Legal History</h3> 
<div class="col-md-12">
  <div class="form-group">
    <label for="">H/o Homicide/Suicide Attempts If yes, specify the number of attempt and method.</label>
    <textarea type="text" formControlName="HomosideAttepts" class="form-control" (blur)="logValidationMessages()"
      [class.is-invalid]="formErrors.HomosideAttepts" placeholder="History Of Present Illness*"></textarea>
    <div *ngIf="formErrors.HomosideAttepts" class="invalid-feedback">{{formErrors.HomosideAttepts}}</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
  <label for="">Pre-morbid personality</label>
  <textarea type="text" formControlName="PreMorbidPersonality" class="form-control" (blur)="logValidationMessages()"
    [class.is-invalid]="formErrors.PreMorbidPersonality" placeholder="History Of Present Illness*"></textarea>
  <div *ngIf="formErrors.PreMorbidPersonality" class="invalid-feedback">{{formErrors.PreMorbidPersonality}}</div>
</div>
</div>





                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Action</label>
                                  <input type="submit"  class="form-control btn btn-success" 
                                   value="add" >
                                 
                        </div>
                        </div>
                        
                                  
                      <div class="offset-md-5 col-md-4"><input type="button" (click)="gotoHistory()" class="btn btn-danger" value="Next"/></div>
                </div>
              </form>
              <!-- <pre>{{familyDataForm.value |json}}</pre> -->
            </div>
        </div>
      
      </div>







    </div>
    <app-footer></app-footer>
  </div>
</div>