<div class="card text-white bg-danger">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <input type="text" name="" id="">
  </div>
  <div class="card-body">
      <h4 class="card-title">Title</h4>
      <input type="text" name="" id="">
    </div>
    
</div>
<div class="card text-white bg-primary">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <input type="text" placeholder="placeholder" name="" id="">
    </div>
  </div>