<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topnavbar></app-topnavbar>
     
      <div class="container register">
        <div class="row">
            <div class="col-md-12 register-right">
              <form [formGroup]="familyDataForm" (ngSubmit)="onSubmit(familyDataForm.value)">
                <h3 class="register-heading">Family Data</h3>
                <div class="row register-form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" formControlName="NameOfChild" class="form-control" (blur)="logValidationMessages()"
                              [class.is-invalid]="formErrors.NameOfChild" placeholder="Name Of Child*">
                            <div *ngIf="formErrors.NameOfChild" class="invalid-feedback">{{formErrors.NameOfChild}}</div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="Address" class="form-control" (blur)="logValidationMessages()" 
                              [class.is-invalid]="formErrors.Address" placeholder="Address *">
                            <div *ngIf="formErrors.Address" class="invalid-feedback">{{formErrors.Address}}</div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" formControlName="ContactNo" class="form-control" (blur)="logValidationMessages()" OnlyNumberWithLength MinDigit="10" MaxDigit="10"
                              [class.is-invalid]="formErrors.ContactNo" placeholder="Contact No. *">
                            <div *ngIf="formErrors.ContactNo" class="invalid-feedback">{{formErrors.ContactNo}}</div>
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" formControlName="Email" class="form-control" (blur)="logValidationMessages()"
                              [class.is-invalid]="formErrors.Email" placeholder="Email *">
                            <div *ngIf="formErrors.Email" class="invalid-feedback">{{formErrors.Email}}</div>
                        </div>      
                      <!-- <input type="submit" class="btnRegister" value="Next" [disabled]="familyDataForm.invalid"/> -->
                    </div>
                      <div class="col-md-3"><input type="submit"  class="btn btn-outline-primary" value="Add Child"/></div>
                      <div class="offset-md-5 col-md-4"><input type="button" (click)="next()"  class="btnRegister" value="Next"/></div>
                </div>
              </form>
              <!-- <pre>{{familyDataForm.value |json}}</pre> -->
            </div>
        </div>
      
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
