<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-topnavbar></app-topnavbar>
      <div class="container register">
        <div class="row">
            <!-- <div class="col-md-3 register-left">
                <img src="../../assets/logo_white.png" alt=""/>
                <h3>Welcome</h3> 
            </div> -->
            <div class="col-md-12 register-right">
              <form [formGroup]="familyDataForm" (ngSubmit)="onSubmit(familyDataForm.value)">
                <h3 class="register-heading">Psychatric Data</h3>
                <div class="row register-form">
                    
                        <div class="col-md-7">
                            <div class="form-group">
                              <label for="">Complaint</label>
                                <input type="text" formControlName="Complaint" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.Complaint" placeholder="Complaint decription*">
                                <div *ngIf="formErrors.Complaint" class="invalid-feedback">{{formErrors.Complaint}}</div>
                            </div>
                            
                            <!-- <div class="form-group">
                                <input type="text" formControlName="Address" class="form-control" (blur)="logValidationMessages()" 
                                  [class.is-invalid]="formErrors.Address" placeholder="Address *">
                                <div *ngIf="formErrors.Address" class="invalid-feedback">{{formErrors.Address}}</div>
                            </div>                     -->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Duration</label>
                                <select class="form-control" formControlName="ComplaintDuration" class="form-control" (blur)="logValidationMessages()" [class.is-invalid]="formErrors.ComplaintDuration">
                                    <option disabled value="">Select Your Option</option>
                                    <option value="Last 2 days">Last 2 days</option>
                                    <option value=" Last 2 weeks"> Last 2 weeks</option>
                                    <option value="Less than 1 month">Less than 1 month</option>
                                    <option value="1 to 3 months">1 to 3 months</option>
                                    <option value="3 to 6 months">3 to 6 months</option>
                                    <option value="More than 6 months">More than 6 months</option>
                                    <option value="More than 1 year">More  than 1 year</option>
                                    <option value="More than 5 years">More than 5 years</option>
                                </select>
                                  <div *ngIf="formErrors.ComplaintDuration" class="invalid-feedback">{{formErrors.ComplaintDuration}}</div>
                              </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Action</label>
                                  <input type="button"  class="form-control btn btn-success" 
                                   value="add" >
                                 
                        </div>
                        </div>
                    
                
                        <div class="col-md-10">
                            <div class="form-group">
                              <label for="">Illness</label>
                                <input type="text" formControlName="Illness" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.Illness" placeholder="Complaint decription*">
                                <div *ngIf="formErrors.Illness" class="invalid-feedback">{{formErrors.Illness}}</div>
                            </div>
                            
                            <!-- <div class="form-group">
                                <input type="text" formControlName="Address" class="form-control" (blur)="logValidationMessages()" 
                                  [class.is-invalid]="formErrors.Address" placeholder="Address *">
                                <div *ngIf="formErrors.Address" class="invalid-feedback">{{formErrors.Address}}</div>
                            </div>                     -->
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Duration</label>
                                <select class="form-control" formControlName="ComplaintDuration" class="form-control" (blur)="logValidationMessages()" [class.is-invalid]="formErrors.ComplaintDuration">
                                    <option disabled value="">Select Your Option</option>
                                    <option value="Last 2 days">Last 2 days</option>
                                    <option value=" Last 2 weeks"> Last 2 weeks</option>
                                    <option value="Less than 1 month">Less than 1 month</option>
                                    <option value="1 to 3 months">1 to 3 months</option>
                                    <option value="3 to 6 months">3 to 6 months</option>
                                    <option value="More than 6 months">More than 6 months</option>
                                    <option value="More than 1 year">More  than 1 year</option>
                                    <option value="More than 5 years">More than 5 years</option>
                                </select>
                                  <div *ngIf="formErrors.ComplaintDuration" class="invalid-feedback">{{formErrors.ComplaintDuration}}</div>
                              </div>
                        </div> -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Action</label>
                                  <input type="button"  class="form-control btn btn-success" 
                                   value="add" >
                                 
                        </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">History</label>
                                <textarea type="text" formControlName="History" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.History" placeholder="History Of Present Illness*"></textarea>
                                <div *ngIf="formErrors.History" class="invalid-feedback">{{formErrors.History}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Psychiatric History (Duration, Number of Episode, Similarity with Present Illness)</label>
                                <textarea type="text" formControlName="PsychiatricHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.PsychiatricHistory" placeholder="History Of Psychiatric Illness*"></textarea>
                                <div *ngIf="formErrors.PsychiatricHistory" class="invalid-feedback">{{formErrors.PsychiatricHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Psychiatric History (Duration, Number of Episode, Similarity with Present Illness)</label>
                                <textarea type="text" formControlName="MedicalSurgicalHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.MedicalSurgicalHistory" placeholder="Enter the Medical/Surgical History*"></textarea>
                                <div *ngIf="formErrors.MedicalSurgicalHistory" class="invalid-feedback">{{formErrors.MedicalSurgicalHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Present Treatment History</label>
                                <textarea type="text" formControlName="PresentTreatmentHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.PresentTreatmentHistory" placeholder="Enter the Present Treatment History*"></textarea>
                                <div *ngIf="formErrors.PresentTreatmentHistory" class="invalid-feedback">{{formErrors.PresentTreatmentHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Past Treatment History</label>
                                <textarea type="text" formControlName="PastTreatmentHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.PastTreatmentHistory" placeholder="Enter the Past Treatment History*"></textarea>
                                <div *ngIf="formErrors.PastTreatmentHistory" class="invalid-feedback">{{formErrors.PastTreatmentHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Family History</label>
                                <textarea type="text" formControlName="FamilyHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.FamilyHistory" placeholder="Enter the Family History*"></textarea>
                                <div *ngIf="formErrors.FamilyHistory" class="invalid-feedback">{{formErrors.FamilyHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Family Environmental History</label>
                                <textarea type="text" formControlName="FamilyEnvironmentHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.FamilyEnvironmentHistory" placeholder="Enter the Family Environmental History*"></textarea>
                                <div *ngIf="formErrors.FamilyEnvironmentHistory" class="invalid-feedback">{{formErrors.FamilyEnvironmentHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Family Attitute History</label>
                                <textarea type="text" formControlName="FamilyAttitudeHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.FamilyAttitudeHistory" placeholder="Enter the Family Attitute History*"></textarea>
                                <div *ngIf="formErrors.FamilyAttitudeHistory" class="invalid-feedback">{{formErrors.FamilyAttitudeHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Living Condition History</label>
                                <textarea type="text" formControlName="LivingConditionHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.LivingConditionHistory" placeholder="Enter the Family Living Condition History*"></textarea>
                                <div *ngIf="formErrors.LivingConditionHistory" class="invalid-feedback">{{formErrors.LivingConditionHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Birth History</label>
                                <textarea type="text" formControlName="BirthHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.BirthHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.BirthHistory" class="invalid-feedback">{{formErrors.BirthHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Immunization History</label>
                                <textarea type="text" formControlName="ImmunizationHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.ImmunizationHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.ImmunizationHistory" class="invalid-feedback">{{formErrors.ImmunizationHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Development History</label>
                                <textarea type="text" formControlName="DevelopmentHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.DevelopmentHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.DevelopmentHistory" class="invalid-feedback">{{formErrors.DevelopmentHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Education History</label>
                                <textarea type="text" formControlName="EducationHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.EducationHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.EducationHistory" class="invalid-feedback">{{formErrors.EducationHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Occupation History</label>
                                <textarea type="text" formControlName="OccupationHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.OccupationHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.OccupationHistory" class="invalid-feedback">{{formErrors.OccupationHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Marital and Sexual History</label>
                                <textarea type="text" formControlName="MaritalandSexualHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.MaritalandSexualHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.MaritalandSexualHistory" class="invalid-feedback">{{formErrors.MaritalandSexualHistory}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Menstrual and obstetric History (Females)</label>
                                <textarea type="text" formControlName="MenstrualandobstetricHistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.MenstrualandobstetricHistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.MenstrualandobstetricHistory" class="invalid-feedback">{{formErrors.MenstrualandobstetricHistory}}</div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">History of Choice of Substance  </label>
                                <textarea type="text" formControlName="HistoryofChoiceofSubstance" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HistoryofChoiceofSubstance" placeholder="Enter the History of Choice of Substance  *"></textarea>
                                <div *ngIf="formErrors.HistoryofChoiceofSubstance" class="invalid-feedback">{{formErrors.HistoryofChoiceofSubstance}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">History of Total Duration of use</label>
                                <textarea type="text" formControlName="HistoryofTotalDurationofuse" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HistoryofTotalDurationofuse" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.HistoryofTotalDurationofuse" class="invalid-feedback">{{formErrors.HistoryofTotalDurationofuse}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">History of Duration of Regular use</label>
                                <textarea type="text" formControlName="HistoryofDurationofRegularuse" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HistoryofDurationofRegularuse" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.HistoryofDurationofRegularuse" class="invalid-feedback">{{formErrors.HistoryofDurationofRegularuse}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">History of Daily intake (Amount/No.)</label>
                                <textarea type="text" formControlName="HistoryofDailyintake" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HistoryofDailyintake" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.HistoryofDailyintake" class="invalid-feedback">{{formErrors.HistoryofDailyintake}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">History of Last Intake of Drug (Day/Time and Quantity of the Drug).</label>
                                <textarea type="text" formControlName="HistoryofLastIntakeofDrug" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HistoryofLastIntakeofDrug" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.HistoryofLastIntakeofDrug" class="invalid-feedback">{{formErrors.HistoryofLastIntakeofDrug}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">
                                  History of Mode of Intake  </label>
                                <textarea type="text" formControlName="HistoryofModeofIntake" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HistoryofModeofIntake" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.HistoryofModeofIntake" class="invalid-feedback">{{formErrors.HistoryofModeofIntake}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">H/o Homicide/Suicide Attempts If yes, specify the number of attempt and method.</label>
                                <textarea type="text" formControlName="HomicideSuicideAttempts" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.HomicideSuicideAttempts" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.HomicideSuicideAttempts" class="invalid-feedback">{{formErrors.HomicideSuicideAttempts}}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Pre-morbid personality</label>
                                <textarea type="text" formControlName="BirthHPremorbidpersonalityistory" class="form-control" (blur)="logValidationMessages()"
                                  [class.is-invalid]="formErrors.BirthHPremorbidpersonalityistory" placeholder="Enter the Birth History*"></textarea>
                                <div *ngIf="formErrors.BirthHPremorbidpersonalityistory" class="invalid-feedback">{{formErrors.BirthHPremorbidpersonalityistory}}</div>
                            </div>
                        </div>
                        
    
    
    
                   
                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" formControlName="ContactNo" class="form-control" (blur)="logValidationMessages()" OnlyNumberWithLength MinDigit="10" MaxDigit="10"
                              [class.is-invalid]="formErrors.ContactNo" placeholder="Contact No. *">
                            <div *ngIf="formErrors.ContactNo" class="invalid-feedback">{{formErrors.ContactNo}}</div>
                        </div> 
                    </div> -->
                      <!-- <div class="col-md-3"><input type="button" class="btn btn-outline-primary" value="Add Child"/></div> -->
                      <div class="offset-md-5 col-md-4"><input type="submit" class="btnRegister" value="Next"/></div>
                </div>
              </form>
              <!-- <pre>{{familyDataForm.value |json}}</pre> -->
            </div>
        </div>
      
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

